<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Easy Werewolf</title>
  </head>
  <body ng-app="werewolf">
    <div class="container" ng-controller="werewolfController as ww">
      <form ng-submit="ww.addPlayer(ww.playerName)">
        <input type="text" ng-model="ww.playerName">
      </form>
      <ul>
        <li ng-repeat="name in ww.playerNameSet">
          {{name}}
        </li>
      </ul>
    </div>
    <script src="bower_components/angular/angular.js" charset="utf-8"></script>
    <script src="bower_components/angular-mocks/angular-mocks.js" charset="utf-8"></script>
    <script src="src/main/main.controller.js" charset="utf-8"></script>
  </body>
</html>
