<div class="container">
  <h3 class="text-center">THIS IS main PAGE</h3>
  <div class="">
    <h3 class="text-center">Select Role</h3>
    <div class="btn-group">
      <label class="btn btn-primary" ng-repeat="role in select.displayRoles()">
        <input type="checkbox" value="{{role}}" ng-click="select.addRole(role)" >{{role}}
      </label>
    </div>


    <!-- {{select.rolesSelectedList}} -->
  </div>
  <div class="">
    <h3 class="text-center">Select Players</h3>
    <div class="btn-group">
      <label class="btn btn-primary" ng-repeat="player in select.displayPlayers()">
        <input type="checkbox" value="{{player}}" ng-click="select.addPlayer(player)">{{player}}
      </label>
    </div>
    <!-- {{select.playersSelectedList}} -->
  </div>
  <div class="text-center" style="margin-top:30px;">
    <button ui-sref="main" class="btn btn-success btn-circle btn-xl"><i class="glyphicon glyphicon-ok"></i></button>
  </div>

</div>
